BACKEND_HTTP_PORT=8080
FRONTEND_PORT=4200
POSTGRES_PORT=5432

APP_BASE_URL=http://localhost:8080/
FRONTEND_API_URL=http://localhost:8080/api
DB_HOST=db
DB_PORT=5432
DB_DATABASE=redermio
DB_USERNAME=redermio
DB_PASSWORD=redermio

POSTGRES_DB=redermio
POSTGRES_USER=redermio
POSTGRES_PASSWORD=redermio
